.time-picker-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .timer-display {
    position: fixed;
    /* top: 50px;
    left: 10px; */
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .fullscreen-control-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .date-time-wrapper {
    height: 100px; /* Adjust height as needed */
    overflow: hidden; /* Optional: Control overflow if content exceeds height */
  }
  